VITE_SUPABASE_URL=https://smlnbwbnpwziirhsjvkd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNtbG5id2JucHd6aWlyaHNqdmtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MjI2MzMsImV4cCI6MjA5NTk5ODYzM30.SYLuKuy3r78eodCdW8WHIatX_3DsbCcobdiEDDKoNog
